{
  "appStoreConnect": {
    "keyId": "YOUR_KEY_ID_HERE",
    "issuerId": "YOUR_ISSUER_ID_HERE",
    "privateKey": "-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_CONTENT_HERE\n-----END PRIVATE KEY-----"
  }
}
